# npm
node_modules

# Final built website and localizations
build
build-l10n

# Various operating system caches
thumbs.db
desktop.ini
.DS_Store

# Popular editors
.vscode
.idea
*.sublime-workspace

# Tip: .git/info/exclude is your personal gitignore for things that don't belong here
