# Dependencies
node_modules
cached-extension-dependencies

# Final built website and localizations
build
build-l10n

# Various operating system caches
thumbs.db
desktop.ini
.DS_Store

# Popular editors
.idea
*.sublime-workspace
.vscode/*
!.vscode/*.code-snippets

# Tip: .git/info/exclude is your personal gitignore for things that don't belong here
