name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [master]

concurrency:
  group: "deploy"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    # If you are forking and want to set up your own website, adjust the repository and branch
    # below to match your repository or remove the condition entirely.
    # Because we want this workflow to have workflow_dispatch, this is also a security improvement
    # as it means extension reviewers can't push a malicious branch then manually deploy it; it
    # must go through the master branch and its associated review process.
    if: ${{ github.repository == 'TurboWarp/extensions' && github.ref == 'refs/heads/master' }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false
      - name: Install Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af
        with:
          node-version: 20.x
      - name: Install dependencies
        run: npm ci
      - name: Build for production
        run: npm run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa
        with:
          path: ./build/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e
